* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

header {
  font-size: calc(1rem + 0.5vw);
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-praying-hands {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  margin: 1rem;
}

.escribe {
  font-size: calc(0.8rem + 0.5vw);
  text-align: center;
  margin: 0;
}

.palabras-quedan {
  font-size: 1.5rem;
  opacity: 1;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  margin: 0 5px;
  padding: 0.3rem 0.3rem;
  font-size: calc(0.8rem + 0.5vw);
  background: white;
  border-radius: 0.5rem;
  display: flex;

  color: #dd613f;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border: solid white;
}

#button-inner-text {
  margin-right: 10px;
}

textarea {
  border: 1px solid yellow;
  outline-style: dotted;
  outline-color: rgb(254, 230, 205);
  background-color: rgb(249, 235, 209);
  font-family: "Poppins", sans-serif;
  font-size: calc(0.3rem + 1vw);
}

button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.1rem;
}

.aleluya {
  font-size: calc(2rem + 0.5vw);
  justify-content: space-between;
  opacity: 0;
  transition: all 10.6s ease;
}

.animation {
  font-size: calc(3rem + 0.5vw);
  opacity: 1;
}

#todo-input {
  color: red;
}

.palabras-quedan-container {
  text-align: center;
}

.palabras-quedan-container i {
  font-size: 2rem;
  margin: 10px;
}
